<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>mutemusic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>mutesound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>question.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>trophy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
            <key>twitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc7bbca1a05c9de73af09c3e1a03d61d:1/1$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
