<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>backcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,714},{52,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,77}}</string>
			<key>sourceSize</key>
			<string>{52,77}</string>
		</dict>
		<key>backcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,660},{52,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,79}}</string>
			<key>sourceSize</key>
			<string>{52,79}</string>
		</dict>
		<key>backcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,705},{52,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,78}}</string>
			<key>sourceSize</key>
			<string>{52,78}</string>
		</dict>
		<key>backlokicat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,652},{52,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,79}}</string>
			<key>sourceSize</key>
			<string>{52,79}</string>
		</dict>
		<key>backlokicat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,577},{52,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,81}}</string>
			<key>sourceSize</key>
			<string>{52,81}</string>
		</dict>
		<key>backlokicat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,651},{52,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,79}}</string>
			<key>sourceSize</key>
			<string>{52,79}</string>
		</dict>
		<key>backwizardcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,250},{62,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,100}}</string>
			<key>sourceSize</key>
			<string>{62,100}</string>
		</dict>
		<key>backwizardcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,250},{62,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,100}}</string>
			<key>sourceSize</key>
			<string>{62,100}</string>
		</dict>
		<key>backwizardcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,250},{61,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,100}}</string>
			<key>sourceSize</key>
			<string>{61,100}</string>
		</dict>
		<key>frontcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,467},{53,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,90}}</string>
			<key>sourceSize</key>
			<string>{53,90}</string>
		</dict>
		<key>frontcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,386},{53,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,92}}</string>
			<key>sourceSize</key>
			<string>{53,92}</string>
		</dict>
		<key>frontcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,445},{53,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,90}}</string>
			<key>sourceSize</key>
			<string>{53,90}</string>
		</dict>
		<key>frontlokicat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,441},{53,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,90}}</string>
			<key>sourceSize</key>
			<string>{53,90}</string>
		</dict>
		<key>frontlokicat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,366},{53,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,92}}</string>
			<key>sourceSize</key>
			<string>{53,92}</string>
		</dict>
		<key>frontlokicat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,390},{53,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,90}}</string>
			<key>sourceSize</key>
			<string>{53,90}</string>
		</dict>
		<key>frontwizardcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,250},{57,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,100}}</string>
			<key>sourceSize</key>
			<string>{57,100}</string>
		</dict>
		<key>frontwizardcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,308},{56,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,100}}</string>
			<key>sourceSize</key>
			<string>{56,100}</string>
		</dict>
		<key>frontwizardcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,250},{56,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,100}}</string>
			<key>sourceSize</key>
			<string>{56,100}</string>
		</dict>
		<key>leftcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,578},{79,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,72}}</string>
			<key>sourceSize</key>
			<string>{79,72}</string>
		</dict>
		<key>leftcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,600},{79,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,76}}</string>
			<key>sourceSize</key>
			<string>{79,76}</string>
		</dict>
		<key>leftcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,388},{91,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,72}}</string>
			<key>sourceSize</key>
			<string>{91,72}</string>
		</dict>
		<key>leftlokicat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,577},{84,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,72}}</string>
			<key>sourceSize</key>
			<string>{84,72}</string>
		</dict>
		<key>leftlokicat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,522},{84,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{84,76}</string>
		</dict>
		<key>leftlokicat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,314},{91,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,72}}</string>
			<key>sourceSize</key>
			<string>{91,72}</string>
		</dict>
		<key>leftnyancat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,188},{162,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,60}}</string>
			<key>sourceSize</key>
			<string>{162,60}</string>
		</dict>
		<key>leftnyancat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,188},{162,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,60}}</string>
			<key>sourceSize</key>
			<string>{162,60}</string>
		</dict>
		<key>leftnyancat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,64},{168,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,60}}</string>
			<key>sourceSize</key>
			<string>{168,60}</string>
		</dict>
		<key>leftnyancat4.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,64},{168,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,60}}</string>
			<key>sourceSize</key>
			<string>{168,60}</string>
		</dict>
		<key>leftnyancat5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,64},{168,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,60}}</string>
			<key>sourceSize</key>
			<string>{168,60}</string>
		</dict>
		<key>leftnyancat6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,188},{162,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,60}}</string>
			<key>sourceSize</key>
			<string>{162,60}</string>
		</dict>
		<key>leftwizardcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{90,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,77}}</string>
			<key>sourceSize</key>
			<string>{90,77}</string>
		</dict>
		<key>leftwizardcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,495},{88,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,80}}</string>
			<key>sourceSize</key>
			<string>{88,80}</string>
		</dict>
		<key>leftwizardcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,313},{95,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,75}}</string>
			<key>sourceSize</key>
			<string>{95,75}</string>
		</dict>
		<key>rightcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{91,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,72}}</string>
			<key>sourceSize</key>
			<string>{91,72}</string>
		</dict>
		<key>rightcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,578},{79,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,76}}</string>
			<key>sourceSize</key>
			<string>{79,76}</string>
		</dict>
		<key>rightcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,615},{79,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,72}}</string>
			<key>sourceSize</key>
			<string>{79,72}</string>
		</dict>
		<key>rightlokicat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,541},{84,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,72}}</string>
			<key>sourceSize</key>
			<string>{84,72}</string>
		</dict>
		<key>rightlokicat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,500},{84,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{84,76}</string>
		</dict>
		<key>rightlokicat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,421},{91,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,72}}</string>
			<key>sourceSize</key>
			<string>{91,72}</string>
		</dict>
		<key>rightnyancat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,126},{162,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,60}}</string>
			<key>sourceSize</key>
			<string>{162,60}</string>
		</dict>
		<key>rightnyancat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,2},{168,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,60}}</string>
			<key>sourceSize</key>
			<string>{168,60}</string>
		</dict>
		<key>rightnyancat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,2},{168,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,60}}</string>
			<key>sourceSize</key>
			<string>{168,60}</string>
		</dict>
		<key>rightnyancat4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{168,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,60}}</string>
			<key>sourceSize</key>
			<string>{168,60}</string>
		</dict>
		<key>rightnyancat5.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,126},{162,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,60}}</string>
			<key>sourceSize</key>
			<string>{162,60}</string>
		</dict>
		<key>rightnyancat6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{162,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,60}}</string>
			<key>sourceSize</key>
			<string>{162,60}</string>
		</dict>
		<key>rightwizardcat1.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,388},{90,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,77}}</string>
			<key>sourceSize</key>
			<string>{90,77}</string>
		</dict>
		<key>rightwizardcat2.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,496},{87,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,80}}</string>
			<key>sourceSize</key>
			<string>{87,80}</string>
		</dict>
		<key>rightwizardcat3.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,309},{95,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,75}}</string>
			<key>sourceSize</key>
			<string>{95,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>catssprite.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b9976d7f113c85079fc49cb0116aee6c:1b1255321120ebff578bf31a93414e90:ea7cf6c6649e954bb250bdd9471f68b3$</string>
		<key>textureFileName</key>
		<string>catssprite.png</string>
	</dict>
</dict>
</plist>
