<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>backcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,523},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>backcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,553},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>backwizardcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,250},{62,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{62,100}</string>
            </dict>
            <key>backwizardcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{62,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,100}}</string>
                <key>sourceSize</key>
                <string>{62,100}</string>
            </dict>
            <key>backwizardcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,250},{61,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,100}}</string>
                <key>sourceSize</key>
                <string>{61,100}</string>
            </dict>
            <key>frontcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{53,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>frontcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,366},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>frontcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,390},{53,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>frontwizardcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,250},{57,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,100}}</string>
                <key>sourceSize</key>
                <string>{57,100}</string>
            </dict>
            <key>frontwizardcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{56,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,100}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>frontwizardcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,250},{56,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,100}}</string>
                <key>sourceSize</key>
                <string>{56,100}</string>
            </dict>
            <key>leftcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,460},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>leftcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,475},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>leftcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,421},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>leftnyancat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,188},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>leftnyancat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,188},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>leftnyancat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,64},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>leftnyancat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,64},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>leftnyancat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>leftnyancat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>leftwizardcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,314},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>leftwizardcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,393},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>leftwizardcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,313},{95,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,75}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
            <key>rightcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,386},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>rightcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,445},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>rightcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>rightnyancat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,126},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>rightnyancat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>rightnyancat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>rightnyancat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>rightnyancat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,126},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>rightnyancat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{162,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,60}}</string>
                <key>sourceSize</key>
                <string>{162,60}</string>
            </dict>
            <key>rightwizardcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>rightwizardcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>rightwizardcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,309},{95,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,75}}</string>
                <key>sourceSize</key>
                <string>{95,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cats.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55b06800da9496f8545f337aa1c2911:bfca98a7a65122478bd4abbfc3f9fc6f:f4bae8f01a9cb5c88cdd45f9e8a79b3f$</string>
            <key>textureFileName</key>
            <string>cats.png</string>
        </dict>
    </dict>
</plist>
