<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,250},{52,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,77}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>backcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,170},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>backcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,170},{52,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,78}}</string>
                <key>sourceSize</key>
                <string>{52,78}</string>
            </dict>
            <key>frontcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{53,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>frontcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>frontcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,154},{53,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>leftcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
            <key>leftcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,76},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>leftcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>rightcat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>rightcat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{79,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,76}}</string>
                <key>sourceSize</key>
                <string>{79,76}</string>
            </dict>
            <key>rightcat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,96},{79,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,72}}</string>
                <key>sourceSize</key>
                <string>{79,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spottedcatsprite.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83aed9801b19eae1ac2de3945d60a75c:1/1$</string>
            <key>textureFileName</key>
            <string>spottedcatsprite.png</string>
        </dict>
    </dict>
</plist>
